<header class="app-header">
  <mat-toolbar class="app-toolbar">
    <span class="page-title">Random dog generator</span>
    <button mat-button routerLinkActive="newSpecialClass" routerLink="/home">
      Home
    </button>
    <button
      mat-button
      routerLinkActive="newSpecialClass"
      routerLink="/again not good"
    >
      GitHub Link
    </button>

    <span class="spacer"></span>

    <mat-button routerLink="/login">
      <mat-icon fontIcon="account_circle" alt="Login" width="35" height="35" />
    </mat-button>
    <mat-button routerLink="/randomDog">
      <mat-icon fontIcon="pets" alt="Random Dog" width="35" height="35" />
    </mat-button>
    <mat-button routerLink="/home" (click)="logout()">
      <mat-icon fontIcon="logout" alt="Logout" width="35" height="35" />
    </mat-button>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
