main {
  margin-top: 4rem;
  padding: 1.5rem;
}

.spacer {
  flex: 1 1 auto;
}

.page-title {
  margin-right: 1rem;
}

a {
  font-size: large;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--mat-sys-primary-container);
  gap: 1rem;
}

.newSpecialClass {
  color: white !important;
  background-color: var(--mat-sys-primary);

  img {
    filter: brightness(0) invert(1);
  }
}

button {
  border: none;
  background: none;
  border-radius: 5%;

  img {
    transition: filter 0.3s ease;
  }
}

button:hover {
  cursor: pointer;
}
