<header class="app-header">
  <mat-toolbar class="app-toolbar">
    <span>My Test App</span>
    <button mat-button>
      <a routerLink="/home" routerLinkActive="newSpecialHomeClass">Home</a>
    </button>
    <button mat-button>
      <a routerLink="/again not good">Github link</a>
    </button>

    <span class="spacer"></span>

    <a routerLink="/login">
      <img src="assets/user-interface.png" alt="Login" width="35" height="35" />
    </a>
    <a routerLink="/randomDog">
      <img
        src="assets/question-sign.png"
        alt="Random Dog"
        width="35"
        height="35"
      />
    </a>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
