<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form novalidate [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" formControlName="username" />
      @if (loginFormGroup.controls.username.hasError('minlength')) {
      <mat-error>Username must be at least 3 characters long.</mat-error>
      } @if (loginFormGroup.controls.username.hasError('required')) {
      <mat-error>Username is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
      />
      @if (loginFormGroup.controls.password.hasError('minlength')) {
      <mat-error>Password must be at least 4 characters long.</mat-error>
      } @if (loginFormGroup.controls.password.hasError('required')) {
      <mat-error>Password is required.</mat-error>
      }
    </mat-form-field>
    @if (loginFormGroup.valid) {
    <button mat-flat-button type="submit">Log In</button>
    }
  </form>
</mat-card>
